/* Meyer's Reset, keep scrolling down! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Meyer's Reset - CSS begins below! */
html, body {
	font-family: 'Shadows Into Light', cursive;
	height:100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #E3F2FD;
}

.header {
	height: 15vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	align-items: center;
}

#title {
	font-size: 50px;
	font-weight: bold;
	color: #E09515;
}

#theirTurn {
	font-size: 20px;
	font-weight: bold;
	color: #EFB857;
	text-decoration-line: underline;
}

.board_container {
	height: 65vh;
	width: 100%;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
}

#game_board td{
    width: 100px;
    height: 100px;
    text-align: center;
	vertical-align: middle; /*feature of tables*/
    font-size: 45px;
    font-weight: bold;
	color: #EFB857;
    border: 1px dotted #EFB857;
    background-color: #D8ECFD;
}

#game_board td:hover{
	background-color: #5C80BC;
}

.buttons {
	height: 20vh;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
}

button {
	padding: 20px;
	background-color: #C5E2FC;
	color: #FAFAFA;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	border: 0px;
	box-shadow: 0px 2px 10px #E3F2FD;
}

button:hover {
	background-color: #5C80BC;
}

#activateBot {
	background-color: #D0CDC8;
	color: #F6F5F4;
}

#activateBot:hover {
	background-color: #D0CDC8;
	color: #F6F5F4
}

.footer {
	height: 2vh;
	display: flex;
	justify-content: center;
	gap: 10px;
	background-color: #E3F2FD;
	padding-top: 3px;
}

#github_logo {
	height: 85%;
}

#github_logo:hover {
	background-color: #EFB857;
	border-radius: 5px;
}

#copyright {
	text-decoration: none;
	font-weight: 600;
	color: #4D5061;
}

#copyright:hover {
	background-color: #EFB857;
	border-radius: 5px;
	padding: 4px;
}


